
<head>
  <style>

    p {
      -webkit-margin-before: 0;
      -webkit-margin-after: 0;
    }


    .mainbox {
      background-color: #f2f3f5;
      width: 490px;
      padding: 5px;

    }

    .textbox {
      background-color: white;
      border: 0px white;
      border-radius: 18px;
    }

    #image {
      display: flex;
      align-items: flex-start;
      margin-top: 3px;
    }

    .image-cropper {
      width: 35px;
      height: 35px;
      position: relative;
      overflow: hidden;
      border-radius: 50%;
    }

    img {
      width: 35px;
      height: 35px;
    }

    .text-content {
      padding: 10px;
      font-size: 13pt;
      line-height: 16px;
      width: 415px;
      font-family: -apple-system, BlinkMacSystemFont, sans-serif;
      font-weight: lighter;
      word-wrap: break-word;
      text-align: left;
    }

    #name {
      color: #365899;
      font-weight: bolder;
    }

  </style>
</head>
<body>
<div class="mainbox">

  <table>
    <th id="image">
      <div class="image-cropper">
        <img src="{{profilePictureUrl}}">
      </div>
    </th>
    <th>
      <div class="box-padding">
        <div class="textbox">
          <p class="text-content">
            <span id="name">{{fullName}}</span>
            <br/>
            {{text}}
          </p>
        </div>
      </div>
    </th>
  </table>

</div>
</body>
