<head>
  <style type="text/css">
    @import url('https://fonts.googleapis.com/icon?family=Material+Icons');
    body {
      background: #E9EAED;
      font-family: helvetica, arial, sans-serif;
      color: #141823;
      font-size: 14px;
      line-height: 1.38;
    }
    h5 {
      font-size: 13px;
      color: #141823;
      margin: 0;
      padding: 0;
    }
    a {
      color: #3b5998;
      text-decoration: none;
    }
    img {
      width: 100%;
    }
    .facebook-box {
      width: 498px;
      background: #fff;
      border: 1px solid;
      border-color: #e5e6e9 #dfe0e4 #d0d1d5;
      border-radius: 3px;
    }
    .facebook-box .content {
      padding: 12px;
    }
    .facebook-box .row.header {
      max-height: 40px;
      margin-bottom: 11px;
    }
    .facebook-box .header .avatar {
      float: left;
      width: 40px;
      height: 40px;
      margin-right: 8px;
    }
    .facebook-box .header .name {
      width: calc(100% - 40px - 8px);
    }
    .facebook-box .header .name h5 {
      margin-bottom: 2px;
      font-weight: 700;
      font-size: 14px;
    }
    .facebook-box .header .name span {
      color: #9197a3;
      font-size: 12px;
    }
  </style>
</head>
<body>
<div class="facebook-box">
  <div class="content">
    <div class="row header">
      <div class="avatar">
        <img src="{{profilePictureUrl}}"/>
      </div>
      <div class="name">
        <h5><a href="http://khoipro.com" target="_blank">{{fullName}}</a></h5>
        <span class="sub">{{format [postedTimestamp]}}</span>
      </div>
    </div>
    <div class="row text">{{text}}</div>
  </div>
</div>
</body>